<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114644080549-6ai276b1er8f37c4vp5loup5a4lqur6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114644080549-6ai276b1er8f37c4vp5loup5a4lqur6p</string>
	<key>API_KEY</key>
	<string>AIzaSyAi9kuCf1HfATkMdlSl_AB59jdjyoOVn90</string>
	<key>GCM_SENDER_ID</key>
	<string>114644080549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IOS.Cadastro</string>
	<key>PROJECT_ID</key>
	<string>sistema-e0c4d</string>
	<key>STORAGE_BUCKET</key>
	<string>sistema-e0c4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114644080549:ios:398a707705324c2c3dba4c</string>
</dict>
</plist>